<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thanjai.it.com.suyamvaram">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegisterActivity"
            android:label="@string/reg_act_name"
            android:parentActivityName=".view.LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.RegisterActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/reg_act_name"
            android:parentActivityName=".view.LauncherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.LauncherActivity" />
        </activity>
        <activity
            android:name=".view.MatchesListActivity"
            android:label="@string/title_activity_matches_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MatchDetailActivity"
            android:label="Match Detail"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>